{% load pipeline %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>aesthetic computation</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Dylan Nelson">

    {% stylesheet 'base' %}
    <link rel="icon" type="image/png" href="{% static 'ac/favicon.png' %}">
</head>

<body>
<header class="site-header">
    <div class="site-branding">
        <h1 class="site-title"><a href="/" rel="home"><img src="{% static 'ac/images/logo-sm.png' %}"></a></h1>
    </div>

    <div class="stripe-menu">
        <div class="menu-icon">
            <img src="{% static 'ac/images/menu-open.png' %}" alt="open menu">
        </div>

        <div class="menu-close-icon">
            <img src="{% static 'ac/images/menu-close.png' %}" alt="close menu">
        </div>
    </div>
</header>

<nav class="site-navigation flex flex-column">
    <div class="site-branding d-none d-lg-block ">
        <h1 class="site-title"><a href="/" rel="home"><img src="{% static 'ac/images/logo-lg.png' %}"></a></h1>
    </div>

    <div class="info-box">
        <p class="info-txt">Modern computation generates data -- lots and lots of data. Applying the results of 
        computation towards the pursuit of scientific insight is challenged by the demanding task of synthesizing 
        vast datasets into fundamental understanding. Unrivaled in its ability to produce not only insight but 
        also beauty: a single image, revealing as a distillate what otherwise remains impenetrable and hidden. 
        'A picture is worth a thousand words' becomes 'a picture is worth a hundred terabytes'.</p>

        <p class="info-txt">In the process of visualization many aesthetic choices must be made. While an image 
        from a computer simulation or a mammoth dataset can be functional, it can also be beautiful. Astrophysics 
        in particular is a rich discipline for natural beauty, from the scales of planets and stars to that of 
        galaxies and large-scale structure.</p>

        <p class="info-txt">This project is dedicated to the most arresting, most captivating, and most pioneering 
        visualization efforts in computational astrophysics. The hope is to inspire and motivate work beyond the 
        functional, and to capture the evolving language of design within the context of our humble corner of space.</p>

        <p class="info-txt">Have a suggestion or an amazing example? Suggestions always welcome:</p>

        <p class="info-txt"> <span class="redbar"></span> <a href="mailto:dnelson@destinati.com">Dylan Nelson</a></p>
    </div>

</nav>

<div class="nav-bar-sep d-lg-none"></div>

{% block content %}
{% endblock %}

{% javascript 'base' %}

</body>
</html>
