{% load pipeline %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>aesthetic computation</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Dylan Nelson">

    {% stylesheet 'base' %}
    <link rel="icon" type="image/png" href="{% static 'ac/favicon.png' %}">
</head>

<body>
<header class="site-header">
    <div class="site-branding">
        <h1 class="site-title"><a href="/" rel="home"><img src="{% static 'ac/images/logo-sm.png' %}"></a></h1>
    </div>

    <div class="stripe-menu">
        <div class="menu-icon">
            <img src="{% static 'ac/images/menu-open.png' %}" alt="open menu">
        </div>

        <div class="menu-close-icon">
            <img src="{% static 'ac/images/menu-close.png' %}" alt="close menu">
        </div>
    </div>
</header>

<nav class="site-navigation flex flex-column">
    <div class="site-branding d-none d-lg-block ">
        <h1 class="site-title"><a href="/" rel="home"><img src="{% static 'ac/images/logo-lg.png' %}"></a></h1>
    </div>

    <div class="info-box">
        <p class="info-txt">Modern computation generates data -- lots and lots of data. Obtaining scientific
        knowledge from the results requires synthesizing vast datasets into fundamental understanding. 
        A single image is unrivaled in its ability to produce not only insight but also beauty, revealing as a 
        distillate what otherwise remains impenetrably hidden: 'a picture is worth a thousand terabytes.'</p>

        <p class="info-txt">In visualization many aesthetic choices must be made. While an image 
        from a computer simulation or a vast dataset can be functional, it can also be aesthetic. 
        Astrophysics is a discipline rich in natural beauty, from planets and stars to galaxies 
        and the large-scale structure of the Universe.</p>

        <p class="info-txt">This project is dedicated to the most arresting, most captivating, and most pioneering 
        visualization efforts in computational astrophysics. The hope is to inspire and motivate work beyond the 
        functional, and to capture the evolving language of design within the context of our humble corner of space.</p>

        <p class="info-txt">Have a suggestion or an amazing example? Suggestions are always welcome.</p>

        <p class="info-txt"> <span class="redbar"></span> <a href="mailto:dnelson@destinati.com">Dylan Nelson</a></p>
    </div>

</nav>

<div class="nav-bar-sep d-lg-none"></div>

{% block content %}
{% endblock %}

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-25177588-7', 'auto');
ga('send', 'pageview');
</script>

{% javascript 'base' %}

</body>
</html>
