{% extends "ac/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="outer-container home-page">
    <div class="container-fluid">
        <div class="row scrolling-wrapper-flexbox">

{% for post in posts %}
            <!-- item -->
            <div class="col-12 col-md-6 col-lg-3 no-padding">
                <div class="portfolio-content">
                    <figure>
                        <img src="{{ post.image_460px.url }}" alt="">
                    </figure>

                    <a href="{% url 'post' id=post.id %}">
                      <div class="entry-content flex flex-column align-items-center justify-content-center">
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.categories_string }}</p>
                      </div>
                    </a>
                </div>
            </div>
{% endfor %}

        </div> <!-- row -->
    </div> <!-- container-fluid -->
</div> <!-- outer-container -->

{% endblock %}