{% extends "ac/base.html" %}
{% load staticfiles %}

{% block headercontent %}
{% endblock %}

{% block content %}
<div class="outer-container">
    <div class="container single-entry">

        <div class="row">
            <div class="col-12 no-padding">
                <span id="post-nav" class="flex justify-content-between align-items-center">
                    {% if prev_post_id %}
                    <span><a id="prev_link" href="{% url 'post' id=prev_post_id %}"><img src="{% static 'ac/images/angle-left.png' %}" alt="Previous"></a></span>
                    {% else %}
                    <span><img class="nolink" src="{% static 'ac/images/angle-left.png' %}" alt="Previous"></span>
                    {% endif %}

                    <span>#{{ post.id }}</span>

                    {% if next_post_id %}
                    <span><a id="next_link" href="{% url 'post' id=next_post_id %}"><img src="{% static 'ac/images/angle-right.png' %}" alt="Next"></a></span>
                    {% else %}
                    <span><img class="nolink" src="{% static 'ac/images/angle-right.png' %}" alt="Next"></span>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>

    <div class="container{{wide_entry}} single-entry">
        <div class="row">
            <div class="col-12 no-padding" style="text-align: center;">
                <figure class="big-img">
                    <img src="{{ post.image_large.url }}" alt="">
                </figure>
            </div>
        </div>
    </div>

    <div class="container single-entry">
        <div class="row no-padding">
            <div class="col-12 col-lg-8">
                <h1 class="entry-header">{{ post.title }}</h1>

                <div class="entry-content">
                    <p>{{ post.description }}</p>

                    {% if post.methods %}
                    <p class="methods"><i>Methods:</i> {{ post.methods }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="col-12 col-lg-3 offset-lg-1">
                <div class="entry-meta">
                    <div class="meta-sec">
                        <label>date added</label>
                        <span class="date-format">{{ post.date_added }}</span>
                    </div>

                    <div class="meta-sec">
                        <label>categories</label>
                        <span>
                        {% for category in cats %}
                          <a href="{% url 'category' category_name=category.name %}">{{ category.name }}</a>{% if not forloop.last %},{% endif %}
                        {% endfor %}
                        </span>
                    </div>

                    <div class="meta-sec">
                        <label>author</label>
                        {% if post.author_link %}
                        <span><a href="{{ post.author_link }}">{{ post.author }}</a></span>
                        {% else %}
                        <span>{{ post.author }}</span>
                        {% endif %}
                    </div>

                    <div class="meta-sec">
                        <label>origin</label>
                        {% if post.origin_link %}
                        <span><a href="{{ post.origin_link }}">{{ post.origin_text }}</a></span>
                        {% else %}
                        <span>{{ post.origin_text }}</span>
                        {% endif %}
                    </div>

                </div>
            </div>

        </div>


    </div> <!-- container -->
</div> <!-- outer-container -->

{% endblock %}
